.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.env
.env.*
.venv/
venv/
env/
build/
dist/
.eggs/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
node_modules/
docker-compose.override.yml
tests/
instance/*.db
instance/*.sqlite3
logs/*.log