# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Envs
.venv/
venv/
.env

# Logs
logs/*
!logs/.gitkeep
*.log

# Databases
*.db
*.sqlite3
instance/*
!instance/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Node (if any)
node_modules/

# IDEs
.vscode/
.idea/
